extends header.pug
append body
    div
        label(class="userInfoLabel")="Username : "+user.username
    div
        label(class="userInfoLabel")="Games Played  :"+user.games_played
    div
        label(class="userInfoLabel")="Score :"+user.score
    div
        label(class="userInfoLabel")="Wins :"+user.wins
    div
        label(class="userInfoLabel")="Losses :"+user.losses
